body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 0px;
  font-weight: bold;
}

hr {
  margin-bottom: 20px;
}

h1,
h2 {
  position: static;
  text-align: left;
  width: 140px;
}

h1 {
  margin: 40px 0px 20px 50px;
}

h2 {
  margin-top: 0px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 0px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 150px;
  height: 150px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  text-align: center;
  position: absolute;
  width: 100%;
}

.outer-game-div {
  float: right;
  width: 300px;
  text-align: left;
  margin: 40px 50px 0px 50px;
}

.game-board {
  display: inline-block;
  margin-top: 10%;
  padding-top: 30px;
  width: 477px;
}

.game-over {
  margin: 5%;
  padding-top: 0px;
}

.title {
  width: 500px;
  position: fixed;
  margin-bottom: 20px;
  background: linear-gradient(white, white);
}

.game-status {
  display: inline-block;
}

.toggle-button,
.list-button {
  float: right;
  border: 1px solid #000;
  font-size: 12px;
  margin-top: 3px;
}

.list {
  margin: 40px 0px 40px 0px;
}

@media (max-width: 876px) {
  .game-info {
    width: 400px;
    text-align: left;
    margin: auto;
  }

  .outer-game-div {
    width: 100%;
    margin: 50px 0px 100px 0px;
  }

  .title {
    width: 100%;
  }
}
